/* Paper Div */
div.article {
    display: flex;
    border-left: 12.5px groove #6b380bc9;
    grid-area: articles;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    list-style: none;
    text-align: center;
    padding: 25px;
}

/* Paper Details */
.paper-details {
    padding-bottom: 50px;
}
.paper-details p {
    font-size: 16px;
}
/* Paper Body */
.paper-body p {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    text-indent: 3em;
}
iframe {
    width: 100%;
    max-height: 100%;
}
/* Papers */
.paper {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: 10% 10% 10% 70%;
    grid-template-areas:
        "title"
        "author"
        "year"
        "summary";
    height: 550px;
    transform: rotate(1.5deg);
    background: #f5f5f5;
    width: 100%;
    box-shadow: 0 7px 1px -3px rgba(0,0,0,.1),
        0 1px 1px 0 rgba(0,0,0,.2);
    padding: 10px;
}
/* .pseudo-paper:before {
    background-color: rgb(255, 255, 255);
    border: 1px solid #f5f5f5;
    box-shadow: 0 7px 1px -3px rgba(0,0,0,.1),
        0 1px 1px 0 rgba(0,0,0,.2);
    content: 'asdfasdfasdfasdf';
    height: 500px;
    position: absolute;
    top: 3px;
    transform: rotate(-5deg) ;
    width: 100%;
    z-index: -25;
}
.pseudo-paper:after {
    top: 4px;
    transform: rotate(1deg);
    position: absolute;
    content: '';
    height: 500px;
    background-color: blue;
    width: 100%;
    z-index: -1;
} */
.paper-pushpin1 {
    position: absolute;
    left: 15px;
    top: 10px;
}
.paper-pushpin2 {
    position: absolute;
    right: 15px;
    top: 10px;
}
.paper-pushpin3 {
    position: absolute;
    left: 15px;
    bottom: 10px;
}
.paper-pushpin4 {
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.paper-title {
    grid-area: title;
}
.paper-summary {
    grid-area: summary;
}
.paper-year {
    grid-area: year;
}
.paper-author {
    grid-area: author;
}

@media (max-width: 767px) {
    div.article {
        border-left: none;
        border-top: 12.5px groove #6b380bc9;
        width: 100%;
        padding: 10px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    div.article {
        border-left: none;
        border-top: 12.5px groove #6b380bc9;
        width: 100%;
        padding: 25px;
    }
}