.posts {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  padding: 10px;
  width: 100%; }
  .posts section {
    align-items: center;
    display: flex;
    flex: 1 25%;
    flex-flow: column wrap;
    justify-content: flex-start;
    min-width: 25%; }
    .posts section .header {
      height: 45px;
      transform: rotateZ(-1deg);
      width: 95%; }
      .posts section .header a {
<<<<<<< HEAD
        font-size: 1.4em;
        text-decoration: none; }
=======
        font-size: 1.4em; }
>>>>>>> 74b8d7b9dfdd6f5cdecccd54923e8ed3016748e5

.post {
  align-items: center;
  background-color: #FBFBFB;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5), 0 4px 3px -2px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: black;
  display: flex;
  flex-flow: column;
  font-family: 'Times New Roman', serif;
  font-size: 1em;
  height: 200px;
  justify-content: flex-start;
  min-width: 200px;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;
<<<<<<< HEAD
  text-decoration: none; }
  .post a {
    text-decoration: none; }
=======
  text-decoration: none;
  text-decoration-line: none;
  transform: rotateZ(0deg); }
>>>>>>> 74b8d7b9dfdd6f5cdecccd54923e8ed3016748e5

.post:hover {
  transform: rotate(-1deg);
  text-align: center;
  background-size: 20px 20px, 100% 100%, 100% 100%;
  background-position: 100% 0%, -20px 0%, 100% 20px;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.494);
  border-radius: 2px; }

@media (max-width: 767px) {
  .posts {
    flex-flow: column wrap; }
    .posts section {
      flex-flow: column wrap;
      min-width: 100%; }
      .posts section .header a {
        font-size: 1.2em; }
  .post {
    max-width: 90%;
    min-width: 90%; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .posts section {
    flex: 1 50%; }
    .posts section .header a {
      font-size: 1.3em; } }
