@import url('https://fonts.googleapis.com/css?family=Delius');
.tab {
  background: linear-gradient(to right, #ffff99, #e9e98a, #dbdb82);
  box-shadow: 1px 1px 1px rgb(146, 145, 145);
  height: 25px;
  width: 75px;
  position: absolute;
  left: -65px;
  transform: rotateZ(5deg);
  font-family: 'Delius', Arial;
  font-size: 1.1em;
  text-align: center;
  z-index: 5000;
}
.tab:hover {
  transform: rotate(1deg);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.494);
  border-radius: 1px; 
}
.tab1 {
    top: 100px;
  }
  .tab2 {
    top: 150px;
  }
  .tab3 {
    top: 200px;
  }
  .tab4 {
    top: 250px;
  }
  @media (max-width: 767px) {
  .tab {
    height: 25px;
    width: 60px;
    position: absolute;
    left: -40px;
    transform: rotateZ(-4deg);
    font-size: 1em;
    text-align: center;
    z-index: 5000;
  }
  .tab1 {
    top: 75px;
  }
  .tab2 {
    top: 125px;
  }
  .tab3 {
    top: 175px;
  }
  .tab4 {
    top: 225px;
  }
}