.social-media {
    position: absolute;
    bottom: -60px;
    left: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    z-index: 20;
}
.sm img {
    height: 35px;
    width: 35px;
}