.social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-bottom: 60px solid #6b380bf1;
    border-image: url("../../../../../../assets/border.jpg") 30 stretch;
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.6);
}
.social__icon {
    height: 100px;
    width: 100px;
    position: relative;
    z-index: -1;
}
.social__link {
    position: relative;
}
.social__link:hover {
    bottom: 45px;
    transform: rotate(3deg);
}
@media (min-width: 768px) and (max-width: 1024px) {
    .social__icon {
        height: 60px;
        width: 60px;
    }
    .social__link:hover {
        bottom: 25px;
    }
}
@media (max-width: 767px) {
    .social {
      border-bottom: 90px solid #6b380bf1;
    }
}