.header {
    align-items: center;
    background: #fff;
    border: 1px outset #ddd;
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 10px;
    transform: rotateZ(1deg);
    width: 70%;
    a {
        color: #111;
        font-family: 'serif';
        font-size: 1.8em;
        text-decoration: none;
        text-align: center;
    }
}
// Media Queries
$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;

@media (max-width: #{$phone-width - 1px}) {
    .header {
        a {
            font-size: 1.5em;
        }
    }
}