.App {
  padding: 50px;
  height: 100vh;
}
.pushpin {
  background: rgb(224, 191, 3);
  border: 3px outset rgb(253, 225, 68);
  border-radius: 50px;
  min-height: 10px;
  margin: 5px;
  width: 10px;
  z-index: 5000;
}
@media (max-width: 767px) {
  .App {
    padding: 10px;
    height: 100%;
  }
}