.bulletin {
  background-image: url("../../../../assets/bulletin.jpg");
  border: 50px ridge #6b380bc9;
  box-shadow: 5px 5px 5px #444;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "posts articles";
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bulletin {
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: "posts" "articles";
  } 
}
@media (max-width: 767px) {
  .bulletin {
    border: 30px ridge #6b380bc9;
    grid-template-columns: auto;
    grid-template-rows: 50% auto;
    grid-template-areas: "posts" "articles";
  }
  .tabs {
    height: 30px;
    width: 75px;
    position: absolute;
    left: -5px;
    transform: rotateZ(5deg);
    font-size: 12px;
    text-align: center;
    z-index: 5000;
  }
  .tab1 {
    top: 75px;
  }
  .tab2 {
    top: 125px;
  }
  .tab3 {
    top: 175px;
  }
  .tab4 {
    top: 225px;
  }
}