@import url('https://fonts.googleapis.com/css?family=Cinzel:bold');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil:bold');

.bulletin {
  border: 30px solid #6b380bf1;
  border-image: url("../../../../assets/border.jpg") 30 stretch;
  box-shadow: 5px 5px 5px #444;
  display: grid;
  grid-template-columns: 2fr minmax(300px, 1fr);
  grid-template-rows: auto 10%;
  grid-template-areas: 
    "corkboard chalkboard"
    "corkboard footer";
  height: 100%;
}
.bulletin__corkboard {
  grid-area: corkboard;
  background-image: url("../../../../assets/bulletin.jpg");
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.6);
  background-size: 100% 100%;
  border-right: 15px inset #714015;
  border-image: url("../../../../assets/border.jpg") 30 stretch;
  min-height: 500px;
}
.bulletin__header {
  grid-area: header;
  height: 10%;
  padding: 15px;
  text-align: center;
}
.bulletin__header--logo {
  color: #3d2714c9;
  font-family: 'Stardos Stencil', 'serif';
  font-size: 3.6em;
  text-shadow: inset 1px 1px 1px #555;
}
.bulletin__tab {
  position: absolute;
  top: 0px;
}
.bulletin__chalkboard {
    background-image: url("../../../../assets/chalk-green.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-flow: column;
    grid-area: chalkboard;
    font-size: 1.4em;
    list-style: none;
    padding: 2em;
    min-height: 500px;
    font-family: 'Special Elite', 'serif';
    color: rgb(226, 226, 226);
    box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.6);
    line-height: 1.6em;
    border-bottom: 15px inset #714015;
    border-image: url("../../../../assets/border.jpg") 30 stretch;
}
.bulletin__footer {
  grid-area: footer;
  background: #72543a;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bulletin {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 10%;
    grid-template-areas: 
      "corkboard chalkboard"
      "corkboard footer";
  } 
  .bulletin__corkboard {
    background-size: 200% 100%;
    background-position: center center;
  }
  .bulletin__chalkboard {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .bulletin {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 100px;
    grid-template-areas: 
      "corkboard"
      "chalkboard"
      "footer";
  }
  .bulletin__corkboard {
    border-right: none;
    border-bottom: 15px solid #714015;
    width: 100%;
    background-size: 200% 100%;
    background-position: center center;
  }
  .bulletin__chalkboard {
    border-left: none;
    padding: 25px;
  }
}